<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile <span>Badges</span></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item button lines="none">
      <ion-avatar slot="start">
        <img src="assets/icon/profile.png" alt="">
      </ion-avatar>
      <ion-label>
        Nguyen Huynh Minh Khoi
        <p>Sophomore</p>
      </ion-label>
    </ion-item>

    <h4 class="p-4"> Achievements <span class="fr link"> See all</span></h4>

    <ion-item lines="none" class="badge-item">
      <ion-avatar slot="start" >
        <img src="assets/icon/clock.png" alt="">
      </ion-avatar>
      <ion-label>
        Punctual
        <p>You have not missed a single lesson.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="badge-item">
      <ion-avatar slot="start" >
        <img src="assets/icon/star.png" alt="">
      </ion-avatar>
      <ion-label>
        Excellent Presentation
        <p>You have done great presentation.</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="badge-item">
      <ion-avatar slot="start" >
        <img src="assets/icon/check.png" alt="">
      </ion-avatar>
      <ion-label>
        Growing
        <p>You have being growing quickly.</p>
      </ion-label>
    </ion-item>

  </div>
</ion-content>
